.primary-section {
  padding: var(--mobile-primary-sp);
  background-image: url("/primary-section/primary-bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    color: var(--text-light);
  }
  &__description {
    margin: 21px 0;
    color: var(--text-light);
  }

  &__button {
    padding: 10px 58px 7px;
    color: var(--text-light);
    border-radius: 4px;
    background-color: var(--color-primary);
    &:hover {
      background-color: var(--color-hover);
    }

    a {
      color: var(--text-light);
    }
  }
}

@media screen and (max-width: 767px) {
  .primary-section {
    // let cut description string make 3 lines text and "..." after cut
    &__description {
      padding: var(--mobile-padding);
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

@media screen and (min-width: 768px) {
  .primary-section {
    text-align: left;
    padding: var(--tablet-primary-sp);

    .container {
      width: var(--mobile-column-4-6);
    }

    &__description {
      margin: 30px 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .primary-section {
    padding: var(--desktop-primary-sp);

    .container {
      margin: unset;
      width: var(--desktop-column-7-12);
    }

    &__description {
      width: var(--desktop-column-11-12);
      margin: 29px 0;
    }
  }
}
